body {
    height: 100px;
    margin: 0px;
    line-height: normal;
    background-color: black;
    /* background: linear-gradient(#343434, #0C0908 ); */
}

.flex-container{
    display: flex;
    height: 50vh;
    flex-wrap: wrap;   
    /* flex-direction: row; */
    justify-content: center;
    justify-content: space-evenly;
    justify-content: space-around;
    /* border: 10px solid white; */
    align-content: center;
}

.optionDescription{
    font-weight: lighter;
}

.options{
    width: 250px;
    height: 45px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 100px;
    font-family: Tahoma;
    color: white;
    font-weight: bold;
    /* background: #C071B3; */
    flex: 33.33%;
    padding: 5px 10px;
    margin-top: 20px;
    /* opacity: 0.7; /* Adjust this value to desired opacity */
    /* transition: opacity 0.5s ease-in; Add a smooth transition effect */
}


/* .options:hover {
    opacity: 1; /* Increase opacity on hover */
/* } */


.astronaut_star{
    display: inline;
    border-radius: 50px;
    width: 250px;
    height: 250px;
    align-self: center;
    padding-top: 50px;
    /* opacity: 0.7; /* Adjust this value to desired opacity */
    /* transition: opacity 0.5s ease-in; Add a smooth transition effect */
}

/* .astronaut_star:hover {
    opacity: 1; Increase opacity on hover
    } */

.astronaut_spin{
    display: inline;
    border-radius: 50px;
    width: 250px;
    height: 250px;
    align-self: center;
    padding-top: 50px;
    /* opacity: 0.7; Adjust this value to desired opacity
    transition: opacity 0.5s ease-in; Add a smooth transition effect */
}

/* .astronaut_spin:hover {
    opacity: 1; Increase opacity on hover
} */


.astronaut_kick{
    display: inline;
    border-radius: 50px;
    width: 250px;
    height: 250px;
    align-self: center;
    padding-top: 50px;
    /* opacity: 0.7; Adjust this value to desired opacity
    transition: opacity 0.5s ease-in; Add a smooth transition effect */
}

/* .astronaut_kick:hover {
    opacity: 1; Increase opacity on hover
}  */
