html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

#hero-wrapper {
    max-width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    overflow: auto;
    background-color: black;
    color: white;
    margin-bottom: 0%; /**add space between this & info page**/
}

#left-hero-page {
    padding: 2%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-text-hero-page {
    font-size: 2.25em;
    margin: 0%;
}

#lower-left-hero-page {
    padding: 10% 5%;
}

#big-description-hero-page {
    font-size: 2.75em;
    margin: 0%;
    background: linear-gradient(to right, #C874B2 0%, #FFFFFF 60%);
    -webkit-background-clip: text;
    color: transparent;
}

#small-description-hero-page {
    font-size: 1.35em;
    margin: 1% 0% 5% 0%;
}

#waitlist-button-hero-page {
    padding: 2% 3%;
    background-color: #C874B2;
    color: white;
    text-align: center;
    border: none;
    border-radius: 2em;
    font-size: 1.25em;
    font-weight: bold;
    width: auto;
    display: inline-block;
    cursor: pointer;
}

#waitlist-button-hero-page:hover {
    background-color: #613856;
}

#right-hero-page {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0%;
}

#canvas-hero-page {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

/* INFO PAGE */
/* body { */
    /* height: 100px;
    margin: 0px;
    line-height: normal; */
    /* background-color: black; */
    /* background: linear-gradient(#343434, #0C0908 ); */
/* } */

/* #info-page{
    gap: 200%;
} */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0;
}

.optionDescription{
    font-weight: lighter;
}

.options{
    width: 100%;
    max-width: 300px;
    text-align: center;
    border-radius: 20px;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    font-family: Tahoma;
}

.optionDescription {
    font-weight: lighter;
}

/* .options:hover {
    opacity: 1; /* Increase opacity on hover */
/* } */


/* CONTACT PAGE */
/* body {
    background-color: #000000;
    color: #333333; 
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

#contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.contact-container {
    background-color: #000000dd;
    border-radius: 0.625rem; /* 10px to rem */
    padding: 2.5rem; /* 40px to rem */
    max-width: 75rem; /* 1200px to rem */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1); /* 20px to rem */
}

.contact-content {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-direction: row;
}

.contact-content img {
    max-width: 100%;
    height: auto;
    justify-content: space-around;
    border-radius: 0.625rem; /* 10px to rem */
    margin: 0 2.5rem; /* 40px to rem */
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-right:  1rem;
}

.contact-content h1 {
    font-size: 3rem; /* 48px to rem */
    margin-bottom: 1.25rem; /* 20px to rem */
    background: linear-gradient(to right, #C874B2 0%, #FFFFFF 60%);
    -webkit-background-clip: text;
    color: transparent;
}

.contact-content p {
    font-size: 1.125rem; /* 18px to rem */
    margin-bottom: 1.25rem; /* 20px to rem */
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

input[type="email"], 
textarea {
    width: 100%;
    padding: 0.9375rem; /* 15px to rem */
    margin-bottom: 1.25rem; /* 20px to rem */
    border: 0.0625rem solid #e0c7c7; /* 1px to rem */
    border-radius: 0.3125rem; /* 5px to rem */
    font-size: 1rem; /* 16px to rem */
    background-color: #ffffff;
    color: #333333;
}

.form-actions {
    display: flex;
    align-items: center;
}

button {
    background-color: #C874B2;
    color: white;
    border: none;
    padding: 0.625rem 1.25rem; /* 10px 20px to rem */
    border-radius: 3.125rem; /* 50px to rem */
    font-size: 1rem; /* 16px to rem */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 0.625rem; /* 10px to rem */
}

button:hover {
    background-color: #ce4eac; /* Darker Teal */
}

#sending-message {
    color: #f4e6e6;
    font-size: 1rem; /* 16px to rem */
    display: none;
}


@media (max-width: 768px) {
    #hero-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem;
    }

    #lower-left-hero-page {
        padding: 5% 2%;
        text-align: center;
    }

    #big-description-hero-page {
        font-size: 2rem;
    }

    #small-description-hero-page {
        font-size: 1rem;
    }

    #waitlist-button-hero-page {
        font-size: 1rem;
        padding: 1.5% 2%;
    }

    #right-hero-page {
        padding-right: 0;
        justify-content: center;
    }

    #canvas-hero-page {
        width: 90%;
        height: auto;
        max-width: none;
    }

    .contact-content {
        flex-direction: column; /* Stack items vertically on mobile */
    }

    .contact-content img {
        margin: 0 0 1.25rem 0; /* Remove horizontal margin, add vertical margin */
        width: 80%; /* Reduce image width on mobile */
    }
}