body {
    font-family: 'Times', sans-serif;
    background-color: #f4e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact-container {
    background-color: #fef7f7;
    border-radius: 10px;
    margin: 30px 120px;
    padding: 20px;
    width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-content {
    display: flex;
    align-items: center;
    text-align: left;
}

.contact-content img {
    max-width:300px;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

.text-content {
    flex: 1;
}

.contact-content h1 {
    font-size: 36px;
    color: #8c6161;
}

.contact-content p {
    color: #b48c8c;
    margin: 10px 0 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"], 
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #e0c7c7;
    border-radius: 5px;
    font-size: 14px;
}

button {
    display: flex;
    justify-content: flex-end;
    background-color: #d88f8f;
    color: white;
    border: none;
    margin-right: 60px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    align-self: flex-end;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #bf7a7a;
}
